<% include partials/header%>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark black">
        <a class="navbar-brand" href="http://www.startereum.com/">

            <img src="" width="50" height="50" alt="">

            <span style="vertical-align: middle;color: #ffc107">Starterium</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link active" href="/game">Game</a>
                <a class="nav-item nav-link" href="/register">Sign Up</a>
            </div>
        </div>
    </nav>
    <div class="container nav justify-content-center" style="position: relative; top: 70px">
        <div class="card-column column-0">
            <div class="card card-color-0">
                <div class="border"></div>
                <img src="<%= TWR.projectA.logo%>" />
                <h1 class="card-title">Project A</h1>
                <h5 class="card-subtitle mb-2" style="color: #F2A310">Dream</h5>
                <p class="card-text">
                    <%= TWR.projectA.dream %>
                </p>
                <h5 class="card-subtitle mb-2" style="color: #F2A310">Founder</h5>
                <p class="card-text">
                    <%= TWR.projectA.author %>
                </p>
            </div>
            <div align="center" class="btn-group" role="group" aria-label="Basic example" style="display: block;">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal"> &nbsp&nbspStake&nbsp&nbsp </button>
                <button type="button" class="btn btn-primary">Unstake</button>
            </div>
        </div>
        <div class="card-column column-1">
            <div class="card card-color-1">
                <div class="border"></div>
                <img src="<%= TWR.projectA.logo %>" />
                <h1 class="card-title">Project B</h1>
                <h5 class="card-subtitle mb-2" style="color: #F2A310">Dream</h5>
                <p class="card-text">
                    <%= TWR.projectB.dream %>
                </p>
                <h5 class="card-subtitle mb-2" style="color: #F2A310">Founder</h5>
                <p class="card-text">
                    <%= TWR.projectB.author %>
                </p>

            </div>
            <div align="center" class="btn-group" role="group" aria-label="Basic example" style="display: block;">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal"> &nbsp&nbspStake&nbsp&nbsp </button>
                <button type="button" class="btn btn-primary">Unstake</button>
            </div>
        </div>


        <div id="cover" class="cover"></div>


        <div id="open-content" class="open-content">
            <a href="#" id="close-content" class="close-content">
                <span class="x-1"></span>
                <span class="x-2"></span>
            </a>
            <img id="open-content-image" src="" />
            <div class="text" id="open-content-text">
            </div>

        </div>



        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Stake str tokens</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <input type="number" class="form-control" id="stakeValue" >
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Stake</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer " class="">
        <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark black justify-content-center">
            <div class="navbar-inner navbar-content-center text-center ">
                <div class="btn-group btn-group-lg" role="group" aria-label="Basic example" style="padding: 8px">
                    <span class="badge-font" style="padding-right: 30px; color: white">
                        Account
                        <span class="badge badge-light" id="eth_account">0x2c2b9c9a4a25e24b174f26114e8926a9f2128fe4</span>
                    </span>
                    <span class="badge-font" style="padding: 0 40px; color: white">
                        Amount
                        <span class="badge badge-light " id="eth_amount">100 Eth</span>
                    </span>
                </div>
                <button type="button" class="btn btn-next" onclick="prevPage()">Prev</button>
                <button type="button" class="btn btn-danger ">Stop</button>
                <button type="button" class="btn btn-next" onclick="nextPage()">Next</button>
            </div>
        </nav>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js " integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em "
        crossorigin="anonymous "></script>
    <script src="js/web3.min.js "></script>
    <script src="js/truffle-contract.js "></script>
    <script src="js/smartcontract.js "></script>
    <script src="js/card-animation.js"></script>
    <script>
        let nextPage = () => {
            window.location.replace("/game/next");
        }
        let prevPage = () => {
            window.location.replace("/game/prev");
        }
    </script>

    </body>

    </html>